{{ define "main" }}

<!-- {{- $themes := where site.RegularPages "Type" "themes" }}
{{- $themes = where $themes "Params.hiddenInHomeList" "!=" "true"  }} -->

<!-- {{- $articles := where site.RegularPages "Type" "articles" }}
{{- $articles = where $articles "Params.hiddenInHomeList" "!=" "true"  }} -->

<div class="notes-container">
    <!-- Display the title "Articles" -->
    <h1>Articles</h1>

    <!-- Display titles with bullet points -->
    <ul class="note-list">
        <!-- Loop through the content pages -->
        {{ range .Pages }}
        <li class="note-item">
            <!-- Wrap the title with an anchor tag linking to the individual article's page -->
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>

    <!-- Bottom div -->
    <!-- {{ partial "bottom_section.html" . }} -->

</div>

{{ end }}
