{{ define "main" }}

{{- $themes := where site.RegularPages "Type" "themes" }}
{{- $themes = where $themes "Params.hiddenInHomeList" "!=" "true"  }}

{{- $articles := where site.RegularPages "Type" "articles" }}
{{- $articles = where $articles "Params.hiddenInHomeList" "!=" "true"  }}

<div  class="articles-page">
    <!-- Reference guides-grid here. -->
    {{ partial "guides_grid.html" (dict "pages" $themes "context" . "isArticlesPage" true) }}

    <!-- Reference to list.html section. -->
    {{ partial "latest_articles.html" (dict "pages" $articles) }}

    <!-- Reference to see more articles. -->
    <div class="see-more">
        <a href="/articles/">See more articles <span>&#8594;</span></a>
    </div>

    <!-- Bottom div -->
    {{ partial "bottom_section.html" . }}

</div>

{{ end }}
