{{ define "main" }}
<div class="articles-grid">
    <header class="articles-header">
    </header>
    {{ $all_articles := (where .Site.RegularPages "Type" "articles") }}
    {{ $all_articles = after 6 $all_articles }} <!-- skip the first 6 articles -->
    {{ $paginator := .Paginate $all_articles }}
    {{ range $paginator.Pages }}
        <article class="post-summary-card">
            <header class="entry-header">
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            </header>
            <div class="entry-content">
                <p>{{ .Summary | truncate 100 }}</p>
            </div>
            <footer class="entry-footer">
                <a class="read-more" href="{{ .Permalink }}">Read more <span>&#8594;</span></a>
            </footer>
        </article>
    {{ end }}

    <div class="pagination-links"> 
        {{ if .Paginator.HasPrev }}
        <div class="pagination-prev">
            <a href="{{ .Paginator.Prev.URL }}"><span>&#8592;</span> See newer articles</a>
        </div>
        {{ end }}
        {{ if .Paginator.HasNext }}
        <div class="pagination-next">
            <a href="{{ .Paginator.Next.URL }}">See older articles <span>&#8594;</span></a>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
