{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <!-- <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header> -->

    <div class="entry-content">
    <!-- Image and text -->
        <!-- <div class="image-container">
            <img src="{{ .Image | absURL }}" class="my-image">
        </div> -->
        <div class="text-container">
            <p>{{ .Content | markdownify }}</p>
        </div>
    </div>

    <!-- Subscription section -->
    <!-- 
        Note: For now, this is commented out. I wanted it to be even more minimalistic... 
              I may change it in the future, but I want to see what it does for now.
    -->

    <!-- Subscription text-->
    <!-- <div class="entry-content-subscribe">
        <p>        
            {{ .SubscriptionText | markdownify }}
        </p>
    </div> -->

    <!-- Subscription form -->
    <!-- <div class="subscribe-form">
        {{ partial "subscription_form.html" . }}
    </div> -->

    <!-- End of subscription section-->

    <!-- Social Icons -->
    <!-- <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer> -->
</article>
{{- end -}}