{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>

    <div class="entry-content" style="display: flex; align-items: center;">
        <div class="image-container">
            <img src="{{ .Image | absURL }}" class="my-image">
        </div>
        <div class="text-container" style="padding-left: 20px;">
            {{ .Content | markdownify }}
        </div>
    </div>

    <!-- <hr> -->

    <!-- <div class="thin-line"></div> -->

    <!-- <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer> -->

    <!-- Subscription text-->
    <div class="entry-content" style = "text-align: center; margin-bottom: 10px; margin-top: 10px;">
        {{ .SubscriptionText | markdownify }}
    </div>
    
    <!-- Subscription form-->
    <script src="https://forms.feedblitz.com/js/h2e"></script>

      
      
      
      
      
</article>
{{- end -}}
