<div class="posts-grid"> <!-- Start of .posts-grid div -->
    <header class="posts-header">
        <h2>My latest articles: </h2> <!-- Fixed closing tag -->
    </header>
    {{ $featuredPages := first 6 .pages }}
    {{ range $featuredPages }}
        <article class="post-summary-card">
            <header class="entry-header">
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            </header>
            <div class="entry-content">
                <p>{{ .Summary | truncate 100 }}</p>
            </div>
            <!-- add a footer with a read more -->
            <footer class="entry-footer">
                <a class="read-more" href="{{ .Permalink }}">Read more <span>&#8594;</span></a>
            </footer>
        </article>
    {{ end }}
</div> <!-- End of .posts-grid div -->
