<!-- Subscription form -->
<div style="display:none">
    <script src="https://assets.feedblitz.com/js/fbz_smartform.js"
        type="text/javascript"></script>
    <link rel="stylesheet" type="text/css"
        href="https://assets.feedblitz.com/fbz_smartform_mini.css" lazyload="1">
</div>
<style>
    #F23343_sb_container img {
        max-width: 100%
    }

    .F23343_sb_fbz_table {
        border: 0;
        margin: 0;
        border-collapse: separate;
        table-layout: auto;
        background-color: inherit !important;
    }

    .F23343_sb_fbz_page {
        /* margin: 0; */
        margin-bottom: 50px;
        padding: 0;
        width: 100%;
    }

    .F23343_sb_fbz_smartform td {
        display: table-cell;
    }

    .F23343_sb_fbz_row td,
    tr:nth-of-type(even),
    tr:nth-of-type(odd) {
        padding-top: 0.5em;
        padding-bottom: 0.2em;
        line-height: 1.7em;
        background-color: inherit !important;
    }

    .F23343_sb_fbz_abovelabel,
    .F23343_sb_fbz_label,
    .F23343_sb_fbz_div,
    .F23343_sb_fbz_fieldtext,
    .F23343_sb_fbz_fieldlabeltext,
    .F23343_sb_fbz_err {
        border: 0;
        padding: 0.5em;
        /* font-size: 16px; */
    }

    /* .F23343_sb_fbz_label, .F23343_sb_fbz_abovelabel {} */
    .F23343_sb_fbz_fieldtext,
    .F23343_sb_fbz_fieldlabeltext {
        padding-top: 0.7em;
        padding-bottom: 0.7em;
    }

    /* .F23343_sb_fbz_fieldlabeltext {} */
    .F23343_sb_fbz_err,
    .F23343_sb_fbz_invalid {
        padding: 0.5em;
        margin: 0.5em;
        color: red;
        border: 3px solid red;
        background-color: rgba(255, 255, 255, 0.5);
        font-weight: bold;
        display: none;
    }

    .F23343_sb_fbz_invalid {
        color: #F80;
        border: 3px solid #F80;
    }

    .F23343_sb_fbz_palette,
    .F23343_sb_fbz_fielddef,
    .F23343_sb_fbz_input_container,
    .F23343_sb_fbz_input {
        padding: 0.5em;
        line-height: 1.7em;
        background-color: transparent;
        border: 1px solid var(--sub-border);
        /* border-radius: 15px; */
        /* -moz-border-radius: 15px; */
        /* font-size: 16px; */
        margin-right: 2px;
    }

    .F23343_sb_fbz_input_container {
        border: 0;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 4px;
        /* background-color: inherit !important; */
    }

    .F23343_sb_fbz_input {
        height: inherit;
        box-sizing: border-box;
        /* border-right: none; */
    }

    .F23343_sb_fbz_input[type="color"] {
        height: 1.5em;
    }

    .F23343_sb_fbz_button[type="button"],
    .F23343_sb_fbz_button {
        padding: 0.5em;
        line-height: 1.7em;
        color: white;
        /* background: #9b9c9d; */
        /* background-color:rgba(155,156,157,0.5); */
        /* background-color: #0389F4; */
        background-color: var(--primary);
        border: 1px solid var(--sub-border);
        /* border: 1px solid #0389F4; */
        /* border: 1px solid var(--primary); */
        /* border-radius: 15px;
            -moz-border-radius: 15px; */
        /* font-size: 16px; */
        text-align: center;
        /* margin: 0; */
        cursor: pointer;
        /* border-left: none; */
        /* Add margin to the left of the button without scroll */
    }

    .F23343_sb_fbz_button[type="button"]:hover,
    .F23343_sb_fbz_button:hover {
        /* background-color: var(--tertiary); */
        background-color: #0389F4; 

        /* opacity: 0.8; */
    }

    /* .F23343_sb_fbz_button[type="button"]:hover,
        .F23343_sb_fbz_button:hover {
            background: #ffffff !important;
            transition: background-color 0.5s ease;
        } */

    /* NEWSLETTER PAGE ONLY */
    .newsletter-page .subscribe-form {
        /* border: 1px solid purple; */
        float: left;
    }

    .newsletter-page .subscribe-form .F23343_sb_fbz_page {
        /* border: 1px solid red; */
        padding-left: 0 !important;
        text-align: left !important;
    }

    .newsletter-page .subscribe-form td {
        /* border: 1px solid green; */
        padding-left: 0 !important;
    }


    /* DARK MODE */
    .dark .F23343_sb_fbz_button[type="button"],
    .dark .F23343_sb_fbz_button {
        color: #fff;
    }

    .F23343_sb_fbz_button[type="button"]:active,
    .F23343_sb_fbz_button:active {
        background: #cfcfcf !important;
        transition: background-color 0.5s ease;
    }

    .F23343_sb_fbz_button[disabled=disabled],
    .F23343_sb_fbz_button[type="button"]:disabled,
    .F23343_sb_fbz_button[type="button"]:disabled:focus,
    .F23343_sb_fbz_button[disabled]:disabled,
    .F23343_sb_fbz_button[disabled],
    .F23343_sb_fbz_button:disabled,
    .F23343_sb_fbz_button:disabled:focus {
        opacity: 0.5;
        transition: background-color 0.5s ease;
    }

    .F23343_sb_fbz_row:hover {
        background: rgba(251, 248, 231, 0.5) !important;
        -o-transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    .F23343_sb_fbz_row_nohover:hover {
        background: transparent;
    }

    .dark .F23343_sb_fbz_input {
        color: #ffffff !important;
    }

    /* .F23343_sb_fbz_form {border:none;border-radius:20px;-moz-border-radius:20px;overflow:hidden;padding:0;line-height:1.3em;font-size:16px;}
        .F23343_sb_fbz_form div {font-size:16px;line-height:1.3em;}
        .F23343_sb_fbz_form tbody {border:0;padding:0;margin:0;font-size:16px;}
        .F23343_sb_fbz_form {border:2px solid #8f8f8f;background-color:#f1f1f1;border-radius:20px;-moz-border-radius:20px;overflow:hidden;padding:0;line-height:1.3em;font-size:16px;padding:15px;} */
    @media only screen and (max-width: 430px) {
        .F23343_sb_fbz_label {
            display: none !important;
            padding: 0 !important;
        }

        .F23343_sb_fbz_abovelabel {
            display: block;
        }

        .F23343_sb_fbz_tabcell {
            display: block !important;
        }

        .subscribe-form .F23343_sb_fbz_page {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

        .subscribe-form td {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

    }
</style>
<div id="F23343_sb_container" class="F23343_sb_fbz_page"
    style="padding:0.5em;clear:both;display: flex; text-align: center; justify-content: center;">
    <form method="POST" name="F23343" id="F23343_sb"
        style="display:block;margin:auto;max-width:600px;"
        action="https://app.feedblitz.com/f/f.Fbz?Join">
        <div name="F23343__hh"><input style="display:block" aria-hidden="true"
                type="email" name="email_"
                value><input style="display:block" aria-hidden="true"
                type="email" name="email_address" value>
            <input style="display:block" aria-hidden="true" type="email"
                name="_email" value>
            <script>var i = 0; var x = document.getElementsByName('F23343'); for (i = 0; i < x.length; i++) { x[i].email_.style.display = 'none'; x[i].email_address.style.display = 'none'; x[i]._email.style.display = 'none'; x[i].action = 'https://app.feedblitz.com/f/f.Fbz?Join'; } var y = document.getElementsByName('F23343__hh'); for (i = 0; i < y.length; i++) { y[i].style.display = 'none'; }</script>
            <input type="hidden" name="subcf" value="1"><input type="hidden"
                name="formid" value="F23343">
        </div>
        <table cellpadding="0" cellspacing="0" class="F23343_sb_fbz_table"
            style="table-layout:fixed;max-width:100%;width:100%;border: 0;">
            <tr>
                <td class="F23343_sb_fbz_form">
                    <table cellpadding="6" cellspacing="0" width="100%"
                        class="F23343_sb_fbz_table"
                        style="border: 0; margin-left: auto; margin-right: auto;">
                        <tr></tr>
                        <div class="F23343_sb_fbz_row">
                            <td class="F23343_sb_fbz_label"
                                style="padding-top:0.7em;padding:0"></td>
                            <td
                                style="width:250px;padding-left:0.5em;padding-right: 10px;">
                                <input class="F23343_sb_fbz_input" type="text"
                                    name="email" id="F23343_sb_email"
                                    value alt="Enter your email..."
                                    title="Enter your email..."
                                    placeholder="Enter your email..."
                                    onclick="clickclear(this,'F23343_sb')"
                                    onfocus="clickclear(this,'F23343_sb')"
                                    onblur="clickrecall(this)" width="100%"
                                    style="width:100%;border-top-right-radius:0;border-bottom-right-radius:0;"
                                    fbz_val="validateEmail">
                            </td>
                        </div>
                        <div style="display:none"><input type="hidden"
                                name="feedid" id="F23343_sb_feedid"
                                value="1143262"></div>
                        <div
                            class="F23343_sb_fbz_row_nohover F23343_sb_fbz_smartform">
                            <td class="F23343_sb_fbz_fieldtext" colspan="2"
                                style="padding-left:0;">
                                <div style="text-align:center">
                                    <input class="F23343_sb_fbz_button"
                                        type="button"
                                        onclick="try{fbzClearChangedBorders();}catch(e){};req=fbz_v('F23343_sb',F23343_sb_requiredFields);val=fbz_v('F23343_sb',F23343_sb_validateFields,1);if(req && val){smartFormSubmit(this);};"
                                        name="fbzsubscribe"
                                        id="F23343_sb_subscribe"
                                        value="Subscribe" alt="Subscribe"
                                        title="Subscribe" width="100%"
                                        style="border-top-left-radius:0;border-bottom-left-radius:0;font-size:100%;height:inherit;white-space:normal;width:100%;"><img
                                        id="F23343_sb_fbz_wait"
                                        alt="Please wait..."
                                        style="display:none;width:48px;opacity:0.5;"
                                        src="https://assets.feedblitz.com/images/spinner.gif"
                                        loading="lazy">
                                </div>
                            </td>
                        </div>
                        <div style="display:none"><input type="hidden"
                                name="publisherid" id="F23343_sb_publisherid"
                                value="150006613"></div>
                        <div style="display:none"><input type="hidden"
                                name="cids" id="F23343_sb_cids" value="1">
                        </div>
                        <tr class="F23343_sb_fbz_row_nohover"
                            style="text-align: center;">
                            <td colspan="10" style="padding:0;border:0">
                                <div id="F23343_sb_fbz_err"
                                    class="F23343_sb_fbz_err"
                                    style="position:relative; text-align: left;">Please
                                    enter all required fields
                                    <img
                                        onclick="fbz$('F23343_sb_fbz_err').style.display='none';"
                                        alt="Click to hide"
                                        style="float: right; width:8px; height: 8px; opacity: 0.5; cursor: pointer; position: absolute; top: 4px; right: 4px;border: 0"
                                        src="https://assets.feedblitz.com/images/close.gif">
                                </div>
                                <div id="F23343_sb_fbz_invalid"
                                    class="F23343_sb_fbz_invalid"
                                    style="position:relative; display: none; align-items: baseline;">Correct
                                    invalid
                                    entries <img
                                        onclick="fbz$('F23343_sb_fbz_invalid').style.display='none';"
                                        alt="Click to hide" width="8" height="8"
                                        style="float:right;width:8px;height:8px;opacity:0.5;cursor:pointer;position:absolute;top:4px;right:4px;border: 0;"
                                        src="https://assets.feedblitz.com/images/close.gif"></div>
                                <div id="F23343_sb_fbz_status"
                                    class="F23343_sb_fbz_err"></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript" src="https://app.feedblitz.com/f/?p13n=1153227"></script>
<script type="text/javascript">var F23343_sb_requiredFields = new Array(); var F23343_sb_validateFields = new Array();
    F23343_sb_requiredFields.push('F23343_sb_email');
    F23343_sb_requiredFields.push('F23343_sb_feedid');
    F23343_sb_requiredFields.push('F23343_sb_publisherid');
    F23343_sb_requiredFields.push('F23343_sb_cids');
    var F23343_sb_fieldcol = '#000000';
    var fbz_F23343_sb_logged = false;
    function F23343_sb_wait_fn() {
        try {
            if (!fbz_F23343_sb_logged) {
                fbz_SmartForm('F23343_sb', feedblitz_full_form);
                try { s('F23343_sb'); } catch (e) { };
                fbz_FitForm('F23343_sb');
                var F23343_sb_wait_img = fbz_formMetrics(23343, 1);
                fbz$('F23343_sb_wait_img').innerHTML = F23343_sb_wait_img;
                clearInterval(F23343_sb_wait);
                fbz_F23343_sb_logged = true;
            }
        } catch (e) { }
    }
    var F23343_sb_wait = setInterval(F23343_sb_wait_fn, 100);
</script>

<script>
    // This code should be executed once the page has loaded
    document.addEventListener('DOMContentLoaded', (event) => {
        // Check for the saved theme in local storage
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme) {
            document.documentElement.setAttribute('data-theme', savedTheme);
            // If the saved theme is 'dark', add the .dark class to the root element
            if (savedTheme === 'dark') {
                document.documentElement.classList.add('dark');
                // Set the text color of the input element in dark mode
                const emailInput = document.querySelector('.F23343_sb_fbz_input');
                if (emailInput) {
                    emailInput.style.color = '#ffffff';
                }
            }
        }

        // This function should be called when the user toggles dark mode
        const switchTheme = () => {
            const root = document.documentElement;
            const emailInput = document.querySelector('.F23343_sb_fbz_input');
            if (root.classList.contains('dark')) {
                root.classList.remove('dark');
                if (emailInput) {
                    emailInput.style.color = '#cccccc';
                }
                localStorage.setItem('theme', 'light');
            } else {
                root.classList.add('dark');
                if (emailInput) {
                    emailInput.style.color = '#ffffff';
                }
                localStorage.setItem('theme', 'dark');
            }
        };

        // Add event listener to the theme switcher button
        document.getElementById('theme-switcher').addEventListener('click', switchTheme);
    });
</script>

<div id="F23343_sb_wait_img"
    style="width:0;height:0;overflow:hidden;line-height:0;display:inline-block;position:fixed;">
</div>